@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>St Pete Beach Equipment Rental</h1>
    <p class="lead">Rent paddleboards, kayaks, beach chairs, and umbrellas and have them all delivered directly to your rental!</p>
    <p>Maximize your vacation, minimize your hassle! </p>
    <br>
    <img src="Pages/Assets/paddleboarding.jpg" alt="Paddleboarding" />
    <br>
    <h3>FAQ</h3>
    <p> 1) Do I need a life preserver to rent water equipment?
        No, every rental of paddleboard or kayak comes with a PFD, paddle, and your watercraft.
        2) Can I have my equipment delivered to the beach or a boat ramp?
        Equipment can be dropped off and picked up anywhere within our service area; please check locations during reservations
</div>

