@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site collects cookies to maintain a seemless user experience. There's no plans to sell data to the Chinese but we have not yet heard their offer.</p>
